/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #3f3f3f;
  color: green;
}

.container {
  display: flex;
  margin-left: 50px;
}

/* Sidebar styling */
.sidebar {
  width: 20vw;
  margin-left: -30vw;
  background-color: #f5f5f5;
  padding: 1rem;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
  z-index: 1;
}

.logo {
  height: 270px;
}

/* Sidebar hidden off-screen */
.sidebar.collapsed {
  transform: translateX(-100%); /* Moves sidebar off-screen */
}

.toggle-button {
  display: block;
  background-color: #004080;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  margin-left: 0vw;
}

.toc {
  margin-top: 1rem;
}

.toc h2 {
  text-align: center;
  font-size: 1.5rem;
}

.toc ul {
  list-style-type: none;
  padding: 0;
}

.toc ul li {
  margin: 0.5rem 0;
}

.toc ul li a {
  text-decoration: none;
  color: #004080;
  font-size: 1rem;
}

/* Main content styling */
.content {
  padding: 2rem;
  width: 80vw;
  margin-left: 0vw;
  transition: margin-left 0.3s ease;
}

.content.collapsed {
  margin-left: 0;
}

header,
footer {
  background-color: #004080;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
/* 
.container-button{
    width: 80vw;
    margin-left: 20vw;
    background-color: aqua;
} */

h1,
h2 {
  text-align: center;
}

section,
p {
  text-align: justify;
}
